<md-toolbar color="primary">
  <div class="button-row">
    <div class="nav-container">
      <button md-icon-button><md-icon>menu</md-icon></button>
      <a routerLink="" routerLinkActive="active" md-button>EVE Book</a>
      <div class="search">
        <input placeholder="Search" [formControl]="searchCtrl">
      </div>
    </div>
    <div class="nav-container">
      <a *ngIf="!authenticated" href="http://localhost:3000/authentication/sso" md-button>Authenticate</a>
      <a *ngIf="authenticated" routerLink="/welcome" routerLinkActive="active" md-button>Profile</a>
      <button *ngIf="authenticated" (click)="logout()" md-button>Logout</button>
    </div>
  </div>
</md-toolbar>
