@import "../../variables";
@import '~@angular/material/theming';

.hashtags {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 4em;

  .header {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    background: $app-background-color;
    padding: 1em 0;

    h2 {
      display: flex;
      font-weight: 400;
      letter-spacing: 0.075em;
      padding: 1em 0;
      margin: 0;
      text-transform: uppercase;

      strong {
        margin-left: 0.25em;
      }
    }
  }

  .content {
    display: flex;
    flex-direction: row;
    margin-top: $app-content-top-margin;
    width: 80%; // TODO: Responsive

    .narrow {
      display: flex;
      flex-direction: column;
      margin-right: 2em;
      min-width: $app-narrow-column-width;

      > mat-card {
        padding: 0;
      }

      > * {
        &:not(:first-child) {
          margin-top: 1em;
        }
      }
    }

    .wide {
      display: flex;
      flex-direction: column;
      width: 100%;
    }
  }
}
