@import "../../variables";

.panel-content {
  display: flex;
  flex-direction: row;

  > mat-form-field {
    flex: 1 1 auto;
  }

  > .button-wrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .select-post-method {
    height: 48px;
    width: 48px;
    margin-right: 1em;

    img {
      height: 48px;
      width: 48px;
      border-radius: 50%;
    }
  }
}

.select-post-method-menu {

  .select-post-method-menu-item {
    display: flex;

    img {
      height: 48px;
      width: 48px;
      border-radius: 50%;
      padding: 0;
      margin: 0 16px 0 0;
    }
  }

}

.post-input-wrap {
  display: flex;
  flex-direction: row;
  flex: 1 1;
  margin-top: 1.25em;
  align-items: flex-start;

  .post-input-field {
    border-bottom: 1px solid #f3f3f3;
    display: block;
    flex: 1 1;

    &:focus {
      border-bottom: 1px solid map-get($app-primary, 500);
      outline: 0;
    }

    .input-field-link {
      color: map-get($app-primary, 500);
      text-decoration: none;
    }
  }
}
