@import '~@angular/material/theming';
@import '../variables';

#header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
}

#content {
  margin-top: calc(64px + 20px);
  display: flex;
  flex-direction: column;
  width: 80%;
  align-self: center;
}
