@import '~@angular/material/theming';
@import '../variables';

#header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
}

#content {
  display: flex;
  flex-direction: column;
  width: 100%;
}
