<mat-card class="post-item mat-elevation-z0">

  <button mat-icon-button>
    <img aria-label="Profile" [src]="image" (click)="openItem()"/>
  </button>

  <div class="card-content">
    <div class="card-header">
      <a [routerLink]="link">{{ name }}</a>
      <small class="mat-caption">@{{ handle }}</small>
      <small class="mat-caption"> {{ post.createdAt | amTimeAgo }}</small>
    </div>
    <p class="card-text" [innerHtml]="content"></p>
  </div>

  <!--<mat-card-actions>-->
  <!--<button mat-button>LIKE</button>-->
  <!--<button mat-button>SHARE</button>-->
  <!--</mat-card-actions>-->
</mat-card>
