<mat-card class="post-item">

  <div class="card-content">
    <button mat-icon-button>
      <img aria-label="Profile" [src]="image" (click)="openItem()"/>
    </button>

    <div class="card-main">
      <div class="card-header">
        <a [routerLink]="link">{{ name }}</a>
        <small class="mat-caption"> {{ post.createdAt | amTimeAgo }}</small>
      </div>
      <p class="card-text" [innerHtml]="content"></p>
    </div>
  </div>

  <div class="card-footer">
    <app-comment-form></app-comment-form>
  </div>

</mat-card>
