<mat-card>
  <img [src]="post.character.portrait.px128x128" (click)="showCharacter()"/>

  <div class="card-content">
    <div class="card-header">
      <a [routerLink]="['/character', post.character.id]">{{post.character.name}}</a>
      <small class="mat-caption">@{{ post.character.name.replace(' ', '_') }}</small>
      <small class="mat-caption"> {{ post.createdAt | amTimeAgo }}</small>
    </div>
    <p class="card-text">{{ post.content}}</p>
  </div>

  <!--<mat-card-actions>-->
  <!--<button mat-button>LIKE</button>-->
  <!--<button mat-button>SHARE</button>-->
  <!--</mat-card-actions>-->
</mat-card>
