@import "../../variables";
@import '~@angular/material/theming';

mat-card.post-item {
  @include mat-elevation(0);
  display: flex;
  flex-direction: column;
  padding: 0;

  .card-content {
    display: flex;
    flex-direction: row;
    padding: 12px;

    .mat-icon-button {
      width: 48px;
      height: 48px;
      margin-right: 12px;

      img {
        width: 48px;
        height: 48px;
        border-radius: 50%;
      }
    }

    .card-main {
      display: flex;
      flex-direction: column;
      flex: 1 1 auto;

      .card-header {
        display: flex;
        flex-direction: row;

        a {
          margin: 0;
          margin-right: 0.5em;
          font-weight: 500;
          text-decoration: none;
          color: #f3f3f3;

          &:hover {
            color: map-get($app-primary, 500);
          }
        }

        small:not(:first-of-type) {
          margin-left: 0.3em;

          &:before {
            content: '\00b7';
          }
        }
      }

      .card-text {
        margin: 0;
        margin-top: 0.25em;
        white-space: pre-wrap;

        .text-link {
          color: map-get($app-primary, 500);
          text-decoration: none;

          &:hover {
            text-decoration: underline;
          }
        }
      }
    }
  }

  .card-footer {
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    background: darken($app-background-color, 5%);
    padding-top: 0.5em;
    box-shadow:
      inset 0px 2px 1px -1px rgba(0, 0, 0, 0.2),
      inset 0px 1px 1px 0px rgba(0, 0, 0, 0.14),
      inset 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
  }
}
