@import "../../variables";

.profile {
  width: 100%;
  margin-top: $app-navbar-height;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 4em;

  .header {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #3f3f3f; // TODO: Get from variable or smth
    width: 100%;
    padding: 1em;

    .header-wrap {
      display: flex;
      flex-direction: row;
      width: 80%;

      img {
        height: 128px;
        width: 128px;
        border-radius: 4px;
      }

      .info {
        margin-top: 64px;
        margin-left: 1em;

        p,
        h2 {
          margin: 0;
        }

        h2 {
          font-size: 2.5em;
          letter-spacing: .09em;
          font-weight: 500;

          small {
            font-weight: 300;
            font-size: 0.6em;
            text-transform: uppercase;
          }
        }
      }

      .actions {
        display: flex;
        flex-direction: row;
        flex: 1 1 auto;
        align-items: flex-end;
        justify-content: flex-end;

        button {
          text-transform: uppercase;
          letter-spacing: .09em;
        }
      }
    }
  }

  .content {
    display: flex;
    flex-direction: row;
    width: 80%; // TODO: Responsive
    margin-top: 2em;

    .narrow {
      display: flex;
      flex-direction: column;
      margin-right: 2em;
      min-width: $app-narrow-column-width;

      > mat-card {
        padding: 0;
      }

      > * {
        &:not(:first-child) {
          margin-top: 1em;
        }
      }

      .stats {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        font-size: 1em;

        .stats-item {
          display: flex;
          flex-direction: column;
          align-items: center;
          text-transform: uppercase;

          .number {
            font-weight: 500;
            font-size: 1.2em;
            color: map-get($app-primary, 500);
          }
        }
      }

      .about {
        .about-item-content {
          display: flex;
          flex-direction: column;
          text-transform: uppercase;

          p {
            margin: 0;
          }

          a {
            font-weight: 700;
            text-decoration: none;
            color: #f3f3f3;

            &:hover {
              color: map-get($app-primary, 500);
              transition: color 100ms ease;
            }
          }
        }
      }
    }

    .wide {
      display: flex;
      flex-direction: column;
      width: 100%;

      > * {
        &:not(:first-child) {
          margin-top: 1em;
        }
        &:last-child {
          margin-bottom: 1em;
        }
      }

      .start,
      .empty {
        align-self: center;
        padding: 0.8em;
        margin-top: 2em;
        p {
          text-align: center;
          text-transform: lowercase;
        }
      }
    }
  }

}
