<div class="align-center">
  <img class="character-img" [src]="character.portrait.px512x512">
  <h1>Welcome back {{character.name}}</h1>
  <h3>Here are some things you missed</h3>

  <div class="card-grid">
    <mat-card *ngFor="let item of missed">
      <mat-card-title>{{item.title}}</mat-card-title>
      <mat-card-content>
        <p>{{item.description}}</p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button>LIKE</button>
        <button mat-button>SHARE</button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>
