<div class="search">
  <div class="search-wrapper">

    <input (blur)="toggleBlur()"
           (focus)="toggleFocus()"
           placeholder="Search EVE Online"
           [formControl]="searchCtrl">

    <ul class="search-results"
        *ngIf="searchFocus || searchHover"
        (mouseleave)="leftSearch()"
        (mouseenter)="enterSearch()">

      <h3 *ngIf="showCharacters | async">Characters</h3>
      <li *ngFor="let character of charactersLess | async">
        <a mat-button (click)="openCharacter(character)">{{character.name}}</a>
      </li>

      <h3 *ngIf="showCorporations | async">Corporations</h3>
      <li *ngFor="let corporation of corporationsLess | async">
        <a mat-button (click)="openCorporation(corporation)">{{corporation.name}}</a>
      </li>

      <h3 *ngIf="showAlliances | async">Alliances</h3>
      <li *ngFor="let alliance of alliancesLess | async">
        <a mat-button (click)="openAlliance(alliance)">{{alliance.name}}</a>
      </li>
    </ul>

  </div>
</div>



