// Import normalize css
@import "~normalize.css";
// Import material design theme
@import '~@angular/material/theming';
// Import font
@import "font";

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Import variables
@import "variables";

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($app-theme);
@include angular-material-typography($app-typography);

html {
  height: 100%;
}

body {
  background: #101010;
  font-family: Shentox, Roboto, Helvetica Neue, sans-serif;
  size: 16px;
  min-height: 100%;
}

app-root {
  display: flex;
  flex-direction: column;
}
