@import '~@angular/material/theming';

$app-navbar-height: 64px;
$app-content-top-margin: 20px;

$app-background-dark: #101010;

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue.
$app-primary: $mat-light-blue;
$app-accent: $mat-light-blue;

// The warn palette is optional (defaults to red).
$app-warn: $mat-red;

// Create the theme object (a Sass map containing all of the palettes).
$app-theme: mat-dark-theme(
    mat-palette($app-primary),
    mat-palette($app-accent, A200, A100, A400),
    mat-palette($app-warn));

$app-typography: mat-typography-config(
  $font-family: 'Shentox, Roboto, "Helvetica Neue", sans-serif'
);
