<mat-card class="example-card">
  <mat-card-title>
    Hello there!
  </mat-card-title>
  <mat-card-content>

    <button (click)="testApi()" mat-button>Test Api</button>

    <input matInput placeholder="Search" [formControl]="searchCtrl">

    <mat-list>

      <h3 mat-subheader>Characters</h3>
      <mat-list-item *ngFor="let character of characters">
        <a mat-button mat-line (click)="openCharacter(character)">{{character.name}}</a>
      </mat-list-item>

      <mat-divider></mat-divider>

      <h3 mat-subheader>Alliances</h3>
      <mat-list-item *ngFor="let alliance of alliances">
        <mat-icon mat-list-icon>people</mat-icon>
        <h4 mat-line>{{alliance.name}}</h4>
      </mat-list-item>

      <mat-divider></mat-divider>

      <h3 mat-subheader>Corporations</h3>
      <mat-list-item *ngFor="let corporation of corporations">
        <mat-icon mat-list-icon>business_center</mat-icon>
        <h4 mat-line>{{corporation.name}}</h4>
      </mat-list-item>

    </mat-list>

  </mat-card-content>
</mat-card>
