@import "../../../variables";

.profile-card {
  width: 250px;

  .profile-cover {
    background: url("https://dummyimage.com/600x400/03a9f4/ffffff&text=cover+image");
    height: 125px;
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;

    > a {
      align-self: flex-end;
      margin-top: 0.25em;
      margin-right: 0.25em;

      > img {
        height: 24px;
        width: 24px;
        background: #3f3f3f;
        border: 1px solid #3f3f3f;
        border-radius: 50%;
      }
    }
  }

  .profile-info {
    display: flex;
    flex-direction: row;
    margin-top: -50px;

    .profile-image {
      left: 0;
      height: 80px;
      width: 80px;
      border-radius: 2px;
      border: 4px solid #3f3f3f;
    }

    .profile-name {
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin-top: 35px;

      .name {
        margin: 0;
        font-size: 1.2em;
        text-decoration: none;
        color: #f3f3f3;
        font-weight: 500;

        &:hover {
          color: map-get($app-primary, 500);
        }
      }

      .tag {
        margin: 0;
      }
    }

  }

  .profile-stats {
    margin-top: 1em;
    display: flex;
    flex-direction: row;
    flex: 1 1 auto;
    justify-content: space-between;

    > * {
      display: flex;
      flex-direction: column;
      justify-content: center;
      text-decoration: none;

      span {
        color: #f3f3f3;
      }

      .number {
        color: map-get($app-accent, 500);
        font-weight: 500;
        text-align: center;
        font-size: 1.2em;
      }
    }
  }
}
